{% extends "layout.html" %}

{% block title %}
    Your New England
{% endblock %}

{% block script %}

<style>
    @media (min-width: 768px)
    {
        h1::after
        {
            content: "Your New England";
        }
    }

    @media (max-width: 767px)
    {
        h1::after
        {
            content: "Welcome:)";
        }
    }
</style>

{% endblock %}

{% block head %}
    {% if login %}
        <a href = "{{url_for('log_out')}}">Log out</a>
        &#160;&#160;<a href="{{ url_for('mypage') }}" method="get">My Page</a>
    {% else %}
        <a href = "{{url_for('login')}}" method="get">Log in</a>
    {% endif %}
    &#160;&#160;<a href="{{ url_for('cities') }}" method="get">Search Cities</a>
    &#160;&#160;<a href="{{ url_for('schedules') }}" method="get">Search Trip Schedules</a>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3"></h1>
        <h4>{{ message }}</h4>
    </div>

    {% if login %}
    <h2> Thank you for visiting us! </h2>
    {% else %}
        <h2>Register now!</h2>
        <form action = "{{ url_for('register')}}" method = "post">
            <div class = "form-group">
                <label for="firstname">First name:</label>
                <input class="form-control" name = "firstname" placeholder = "First name" id = "firstname">
            </div>
            <div class = "form-group">
                <lable for="lastname">Last name:</lable>
                <input class="form-control" name="lastname" placeholder="Last name" id="lastname">
            </div>
            <div class = "form-group">
                <label for="usr">Username:</label>
                <input class="form-control" name="username" placeholder="Username" id = "usr">
            </div>
            <div class = "form-group">
                <label for="pwd">Password:</label>
                <input class="form-control" type = "password" name="password" placeholder="Password" id = "pwd">
            </div>
            <div class = "form-group">
                <button class = "btn btn-primary">Register</button>
            </div>
        </form>

        <h2>Or...</h2>
        <a href="{{ url_for('login') }}" class="btn btn-info" role="button">Login</a>
    {% endif %}
{% endblock %}
